# 10 projetos de HTML e CSS para adicionar no seu portfólio

[Vídeo no Youtube](https://youtu.be/y4ltLH9iK8E)

## **1.Landing Pages**
·
<a href="https://github.com/Sofia331/Exercicios_JavaScript_CursoEmVideo/blob/main/Exercicio01.html">Exercicio de Boa tarde</a>